html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.calcite-theme-light,
.calcite-theme-dark {
  --calcite-ui-info: #3E8EDE;
  --calcite-ui-brand: #3E8EDE;
  --calcite-ui-icon-color: #3E8EDE;
  --calcite-ui-brand-hover: #00619B;
  --calcite-ui-brand-press: #fff;
  --theme-svg-icon-size: 16px;
}

calcite-radio-group-item[checked],
calcite-button[appearance="solid"] {
  --calcite-ui-icon-color: var(--calcite-ui-text-inverse) !important;
}

[icon="exclamation-mark-triangle-f"] {
  --calcite-ui-icon-color: #d90012;
}

.calcite-panel-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 1;
  height: 100%;
  min-width: 0;
  min-height: 0;
  overflow-y: hidden;
}

calcite-block {
  margin-top: 0;
  margin-bottom: 0;
}

.calcite-block-fill {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;
  overflow-y: hidden;
}

calcite-tabs {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

calcite-tab-nav {
  flex-shrink: 0;
}

calcite-tab {
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
  overflow: auto;
}

.section-info {
  color: var(--calcite-ui-text-1);
  text-align: center;
  padding: 10px 0 10px 0;
}

.esri-widget,
.esri-widget__heading,
.esri-widget--button,
.esri-menu,
.esri-popup__button,
.esri-popup__main-container,
.esri-popup__header-container--button:hover,
.esri-popup__pointer-direction,
.esri-button {
  background-color: var(--calcite-ui-foreground-1) !important;
  color: var(--calcite-ui-text-2) !important;
}

.toggle-panel[hidden] {
  display: none;
}

header[slot="header"] {
  z-index: 99;
  padding: 0 1rem 0 1rem;
  border-bottom: solid 1px var(--calcite-ui-brand-hover);
}

.application-title {
  color: var(--calcite-ui-brand);
}

.modal-title {
  color: var(--calcite-ui-brand);
}

calcite-loader#app-loader {
  align-self: center;
  justify-self: center;
  /*z-index: 1000;*/
  /*top: calc(50vh - 112px) !important;*/
}

.esri-ui-corner calcite-loader {
  pointer-events: none;
  padding: 0;
  right: 15px;
}

calcite-panel > div[slot="header-actions-end"] {
  display: inline-flex;
}

calcite-notice {
  z-index: 101;
}

#center-container {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#view-container {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
  background-color: #434447;
}

.esri-legend__message {
  display: none;
}
.esri-legend__service {
  /* top right bottom left */
  padding: 10px 0px 0px 0px !important;
}

/* HAZARD TAB */
.flood-icon,
.storm-surge-icon,
.landslide-icon,
.drought-icon,
.earthquake-icon,
.tsunami-icon {
  display: block;
  margin: auto;
  width: var(--theme-svg-icon-size);
  height: var(--theme-svg-icon-size);
  background-size: var(--theme-svg-icon-size) var(--theme-svg-icon-size);
  background-repeat: no-repeat;
}
.flood-icon {
  background-image: url(../assets/Flood.svg);
}
.storm-surge-icon {
  background-image: url(../assets/Storm-surge.svg);
}
.landslide-icon {
  background-image: url(../assets/Landslide.svg);
}
.drought-icon {
  background-image: url(../assets/Drought.svg);
}
.earthquake-icon {
  background-image: url(../assets/Earthquake.svg);
}
.tsunami-icon {
  background-image: url(../assets/Tsunami.svg);
}

/* RISK TAB */
.risk-icon {
  width: 16px;
  height: 16px;
}

.varible-label {
  font-weight: bold;
}

.bivariate-info {
  width: 570px;
  height: 150px;  
}